{% extends 'admin/layout/base.html.twig' %}

{% block title %}test {% endblock %}

{% block content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-12">

            <h2>Add category</h2>

        </div>
        <!-- ./col -->
    </div>

{% endblock %}
