{% extends 'admin/layout/base.html.twig' %}

{% block title %}test {% endblock %}

{% block content %}
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-12">

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">category id</th>
                    <th scope="col">category name</th>
                    <th scope="col">category description</th>


                </tr>
                </thead>
                <tbody>

                {% for category in categories %}
                    <tr>
                        <th scope="row">-</th>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <!-- ./col -->
    </div>

{% endblock %}
